.workcontainer{
width:100%;
height:80vh;

background: linear-gradient(to right, #161618 0%,  #1A2980 100%);

}


.projectsboxescontainer{
  
width:100%;
height:70vh;
display:grid;
grid-template-columns: 1fr 1fr;
row-gap: 0;
column-gap: 0;




}







.project{
border:2px solid #030303;
width:80%;
margin-top:20px ;
height:90%;
position: relative;


}

.innerimage{
  width:100% ;
  height:100% ;
  object-fit: cover;
  overflow: hidden;
  z-index:1 ;
  left:0;

  position: absolute;
}

.innercontent{
  position: absolute;
  right:auto;
  left:auto;
  top:30px ;
  z-index:2 ;
}





.project3{
  
  width:80%;
  margin-top:17px ;
  height:67%;
  position: relative;
  
  
  }

  .spann{
    color:rgb(14, 11, 11);
    
  }


  .backgroundd{
    background-color: #f0f0f3;
    
  }


.project4container{
  height: 100%;
  background: linear-gradient(to right, #161618 0%,  #1A2980 100%);
  border: none;
}





.sectiontitle{
color:rgb(255, 251, 251);
font-weight: 700;
font-family: 'Aboreto', cursive;
}


.sectionprojecttitle{
color:rgb(253, 247, 247);
font-weight: 700;
font-family: 'Aboreto', cursive;

}




.project3 button{
  background: transparent;
  border:1px solid rgb(255, 255, 255) ;
  color:rgb(253, 247, 247);
  margin-left:19px ;
  margin-top:29px ;
  padding:9px 30px ;
  border-radius:5px ;


}


.project3 button:hover{
  color:rgb(16, 233, 233);
  border:1px solid rgb(16, 233, 233);
  
  
  
  }
  





.project button{
background: transparent;
border:1px solid rgb(255, 255, 255) ;
color:rgb(253, 247, 247);
margin-left:19px ;
margin-top:29px ;
padding:9px 30px ;
border-radius:5px ;
}


.project button:hover{
color:rgb(16, 233, 233);
border:1px solid rgb(16, 233, 233);



}



@media screen and (max-width:2600px){


.innercontent{
  margin-left:25%;
  
}




}


@media screen and (max-width:800px){

 



  .innercontent{
    margin-left:5%;
    
  }


}

@media screen and (max-width:1210px){

  
  



  .innercontent{
    margin-left:15%;
    
  }


}


@media screen and (max-width:600px){

 



  .innercontent{
    margin-left:4%;
    
  }

}


